{% extends 'default.html' %}

{% block title %}Signals{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-3 mb-4">
                <div class="col-md-12">
                    <table class="table text-center" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm font-weight-bold">Sinal de Exception</th>
                        </tr>
                    </thead>
                    <tbody id="contentProducts">
                        {% for sinal in sinais %}
                        <tr>
                            <td>{{ sinal.exception }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}